<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>active</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:conf/spring-*.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>active</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UploadOJServlet</display-name>
    <servlet-name>UploadOJServlet</servlet-name>
    <servlet-class>com.active.action.UploadOJServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadOJServlet</servlet-name>
    <url-pattern>/UploadOJServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadOJProblemServlet</display-name>
    <servlet-name>UploadOJProblemServlet</servlet-name>
    <servlet-class>com.active.action.UploadOJProblemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadOJProblemServlet</servlet-name>
    <url-pattern>/UploadOJProblemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadStudentInfo</display-name>
    <servlet-name>UploadStudentInfo</servlet-name>
    <servlet-class>com.active.action.UploadStudentInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadStudentInfo</servlet-name>
    <url-pattern>/UploadStudentInfo</url-pattern>
  </servlet-mapping>
</web-app>